<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzz.springboot.shiro.mapper.UserMapper">
    <select id="findByUserName" resultType="com.xzz.springboot.shiro.entity.dto.TUser">
      select * from t_user where username = #{name}
    </select>
</mapper>